<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<p th:text="'the time is ' +${theDate}" />
	<h3>Employee Directory</h3>
	<div>
		User: <span sec:authentication="name"></span> <br> Role(s): <span
			sec:authentication="principal.authorities"></span> <br> <br>
	</div>
	<form action="#" th:action="@{/search}" method="GET"
		class="form-inline">

		<!-- Add a button -->
		<a th:href="@{/showform}" class="btn btn-primary btn-sm mb-3"> Add
			Employee </a> <input type="search" name="firstName"
			placeholder="First name" class="form-control-sm ml-5 mr-2 mb-3" /> <input
			type="search" name="lastName" placeholder="Last name"
			class="form-control-sm mr-2 mb-3" /> <input type="search"
			name="email" placeholder="Email" class="form-control-sm mr-2 mb-3" />
		<button type="submit" class="btn btn-success btn-sm mb-3">Search</button>

	</form>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td>FirstName</td>
				<td>Lastname</td>
				<td>email</td>
				<td>Delete</td>
				<td>Update</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempEmp:${employee}">

				<td th:text="${tempEmp.firstName}"></td>
				<td th:text="${tempEmp.lastName}"></td>
				<td th:text="${tempEmp.email}"></td>

				<td>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{/delete(employeeId=${tempEmp.id})}">Delete</a>
					</div>
				</td>

				<td>
					<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">

						<form action="#" th:action="@{/update(employeeId=${tempEmp.id})}"
							method="post">
							<input type="submit" value="Update">
						</form>
					</div>
				</td>

			</tr>

		</tbody>
	</table>
	
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
	</form>
</body>
</html>